In [ ]:
pip install pycountry

In [13]:
import pandas as pd
import pycountry

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('updated_file.csv', keep_default_na=False)

# Add a new column to the DataFrame with the country code
def get_country_code(country_name):
    try:
        return pycountry.countries.lookup(country_name).alpha_2
    except LookupError:
        # If the country name is not recognized by pycountry, return None
        return None

In [14]:
df[df['Source_country_code'].isna()]

Empty DataFrame
Columns: [Year, Source, Value, Target, lat_dest, lon_dest, lat_org, lon_org, weight, Source_country_code]
Index: []

In [15]:
df['Target_country_code'] = df['Target'].apply(get_country_code)

df

,Year,Source,Value,Target,lat_dest,lon_dest,lat_org,lon_org,weight,Source_country_code,Target_country_code
0,1980,"Congo, the Democratic Republic of the",20000,Angola,-12.5,18.5,0.0,25.0,0.616031,CD,AO
1,1980,Namibia,50000,Angola,-12.5,18.5,-22.0,17.0,0.704519,NA,AO
2,1980,South Africa,5000,Angola,-12.5,18.5,-29.0,24.0,0.465230,ZA,AO
3,1980,Afghanistan,1500,United Arab Emirates,24.0,54.0,33.0,65.0,0.312827,AF,AE
4,1980,"Congo, the Democratic Republic of the",50750,Burundi,-3.5,30.0,0.0,25.0,0.705894,CD,BI
...,...,...,...,...,...,...,...,...,...,...,...
9234,2014,Burundi,2501,Zambia,-15.0,30.0,-3.5,30.0,0.380396,BI,ZM
9235,2014,"Congo, the Democratic Republic of the",18598,Zambia,-15.0,30.0,0.0,25.0,0.608665,CD,ZM
9236,2014,Rwanda,1904,Zambia,-15.0,30.0,-2.0,30.0,0.344918,RW,ZM
9237,2014,Somalia,2314,Zambia,-15.0,30.0,10.0,49.0,0.370415,SO,ZM
9238,2014,"Congo, the Democratic Republic of the",4866,Zimbabwe,-20.0,30.0,0.0,25.0,0.462036,CD,ZW

In [17]:
# Write the updated DataFrame back to a new CSV file
df.to_csv('updated_file1.csv', index=False)